.super-main {
  margin-bottom: 400px;
}

.mon-control {
  position: relative;
  left: 0;
  top: 0;
  flex: 1;
}

.mon-block {
  margin-left: 200px;
}

.mon-fn {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 50px;
  width: 150px;
  height: 100%;
  background: #515151;

  &>a {
    color: #fff !important;
    border-bottom: none;

    &:hover {
      background: #999988;
    }

    &>span {
      color: #fff !important;
    }
  }
}

.mon-admin-user {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;

  &> div {
    margin: 20px 0 0 10px;

    &>span {
      color: #fff;

      &:hover {
        color: #DDDDDD;
        cursor: pointer;
      }
    }
  }
}

#admin-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.mon-control-item {
  border: 1px solid #DDDDDD;
  margin: 10px 0;
  padding: 5px 10px;
  position: relative;

  &:hover .mon-delete,
  &:hover .mon-btn {
    display: inline-block;
  }
}

.mon-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  padding: 5px 10px;
  background: #FF4040;
  color: #fff;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background: #FF8C69;
  }
}

.mon-btn {
  position: absolute;
  top: 10px;
  right: 80px;
  display: none;
  padding: 5px 10px;
  background: mediumseagreen;
  color: #fff;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background: lightgreen;
  }
}

/* 用户控制 */
.mon-user-control {
  border: 1px solid #999580;
  margin: 10px 20px;
  overflow: visible !important;

  &>div {
    padding: 2px;
    width: 100%;
  }

  & img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

.mon-setting {
  float: right;
  &>ul {
    & span {
      margin-right: 10px;
    }
  }
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  display: none;
}