.super-main {
  margin-bottom: 400px;
}

.mon-control {
  position: relative;
  left: 0;
  top: 0;
  flex: 1;
}

.mon-block {
  margin-left: 300px;
  padding: 20px;
}

.mon-fn {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 50px;
  width: 250px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #ddd;

  &>a {
    color: slategray !important;
    border-bottom: 1px solid #ddd;

    &:hover {
      background: #999988;
    }

    &>span {
      color: #fff !important;
    }
  }
}

.mon-admin-user {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;

  &> div {
    margin: 20px 0 0 10px;

    &>span {
      color: #fff;

      &:hover {
        color: #DDDDDD;
        cursor: pointer;
      }
    }
  }
}

#admin-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.mon-control-item {
  border: 1px solid #DDDDDD;
  margin: 10px 0;
  padding: 5px 20px;
  position: relative;
}

.mon-ctr-btn {
  display: inline-block;
  padding: 5px 10px;

  color: #fff;
  border-radius: 4px;

  &:hover {
    cursor: pointer;

  }
}

.mon-delete {
  background: #FF4040;

  &:hover {
    background: #FF8C69;
  }
}

.mon-top-btn {
  background: mediumseagreen;

  &:hover {
    background: lightgreen;
  }
}

.mon-canvas {
  width: 250px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 50px;
  transform: translateX(100%);
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  transition: all linear 0.2s;
}

.mon-user-block {
  overflow: hidden;
  padding: 5px;
  border-bottom: 1px solid #ddd;

  & input {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding-left: 25px;
    outline: none;
  }
}

.mon-user-close {
  position: relative;

  &>span {
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    color: #999;
    float: right;
    border-radius: 50%;

    &:hover {
      background: #ddd;
    }
  }
}

.mon-user-search {
  position: relative;

  &>label {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 34px;
    height: 34px;
  }
}

/* 用户控制 */
.mon-user-control {
  border-bottom: 1px solid #ddd;
  overflow: visible !important;
  padding: 10px;
  width: 100%;

  & img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

.mon-setting {
  float: right;
  &>ul {
    & span {
      margin-right: 10px;
    }
  }
}

.mon-article-control {
  &>div {
    padding: 10px;
    float: left;
  }

  &>div:first-child {
    width: 70%;
  }

  &>div:nth-child(2) {
    width: 30%;
    text-align: center;

    &>button {
      margin: auto 5px;
      border: none;
    }
  }
}

.mon-ctrl-content {
  display: flex;

  &>div {
    padding: 10px;
    flex: 1;
  }
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}